# Byte-compiled files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE/project settings
.vscode/
.idea/

# Dependencies
node_modules/

# Build output
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env
